body {
    font-family: 'Overpass', 'Open Sans', Helvetica, Arial, sans-serif;
    font-weight: 400;
    font-style: normal;
    letter-spacing: .035em;
    width: 100%;
    margin: 0 auto;
}

#cares-nav {
    background-color: #fdb715;
    width: 100%;
    height: auto;
    position: fixed;
    text-align: center;
    top: 0px;
    left: 0px;
    z-index: 5;
    min-height: 33px;
    padding: 5px;
    font-size: 14px;
    color: #040502;
    border-bottom: 0px solid transparent;
    box-shadow: 0 0px 10px 0px rgb(0 0 0 / 35%)
}

#cares-button{
    color: white;
    background-color: #434345;
    border-color: rgba(0,0,0,0.1) rgba(0,0,0,0.1) rgba(0,0,0,0.25);
    border-radius: 3px;
    font-size: 14px;
    padding: 6px 5px;
    margin: 5px;
    font-style: normal;
    font-weight: normal;
    -webkit-font-smoothing: antialiased;
}

#cares-button:hover {
    background-color: black;
    cursor: pointer;
}

#close-button img {
    position: fixed;
    top: 5px;
    right: 5px;
    width: 16px;
}

a, a:visited {
    text-decoration: none;
    color: white;
}

#nav {
    background-color: #2d2d2d;
    z-index: 4;
    height: 70px;
    width: 100%;
    position: fixed;
    font-size: 21px;
    left: 0px;
    top: 52px;
    color: white;
}

#brand {
    display: inline-block;
    position: relative;
    top: -28px;
    left: -6px;
    padding-top: 20px;
    padding-left: 25px;
    font-size: 20px;
    font-weight: 200;
    font-family: 'Crimson Text',"Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", "DejaVu Sans", Verdana, "sans-serif";
    -webkit-font-smoothing: antialiased;
}

#brand-img {
    background-color: #ec1414;
    width: 33px;
    padding: 12px 20px 12px 18px;
    transition: background-color 0.5s;
}

#nav-items {
    position: relative;
    top: -115px;
}

.nav-link {
    text-transform: uppercase;
    font-size: 14px;
    list-style-type: none;
    float: right;
    margin: 0;
    padding-top: 24px;
}

.dropdown {
    padding-right: 18px;
    padding-left: 18px;
    padding-bottom: 24px;
}

.dropdown:hover {
    background-color: black;
}

#red-button {
    background-color: #e33e42;
    height: 46px;
    width: 100px;
    margin: 0;
    position: relative;
    padding-right: 5px;
    padding-left: 20px;
    border-style: solid;
    border-top: none;
    border-bottom: none;
    border-right: 50px white;
    transition: background-color 0.5s;
}

#blue-button {
    background-color: #348db9;
    height: 46px;
    position: relative;
    margin: 0;
    padding-right: 25px;
    padding-left: 20px;
    border-style: solid;
    border-top:none;
    border-bottom: none;
    border-right: 50px white;
    transition: background-color 0.5s;
}

#blue-button:hover {
    background-color: #429ACD;
}

.dashicons {
    padding-top: 25px;
    padding-right: 20px;
    padding-bottom: 25px;
    padding-left: 5px;
}

.dashicons:hover {
    background-color: black;
}

.dashicons-search:before {
    content: "\f179";
    color: white;
}

video {
    width: 100%;
}
#background-video {
    position: relative;
    top: 50px;
}

#overlay {
    display: block;
    position: relative;
    margin-left: auto;
    margin-right: auto;
    width: 990px;
    top: -645px;
}

#pageTitle {
    font-size: 56px;
    color: white;
    text-align: left;
    width: auto;
    padding: 13px 20px;
    background: rgba(0, 0, 0, 0.7);
    letter-spacing: 3px;
    margin-bottom: -10px;
    line-height: 1.4;
    font-weight: 700;
}

#learn-more-button {
    font-size: 32px;
    width: 270px;
    background-color: #e33e42;
    padding: 3px 20px;
    transition:  background-color 0.5s;
    letter-spacing: 3px;
}

#learn-more-button:after {
    font-family: "FontAwesome";
    content: '\f054';
    font-size: 80%;
    padding-left: 6px;
}

#scroll-chevron {
    position: relative;
    font-family: "Font Awesome 5 Pro";
    font-size: 65px;
    display: block;
    top: 355px;
    width: 70px;
    margin-left: auto;
    margin-right: auto;
    text-shadow: 0px 0px 12px rgb(0 0 0 / 80%);
    transition: color 0.5s;
    -webkit-font-smoothing: antialiased;
    z-index: 3;
}

#scroll-chevron:hover {
    color: #ec1414;
}

#scroll-chevron::before {
    content: "\f13a";
}

#hubspot-widget {
    position: fixed;
    bottom: 0px;
    right: 0px;
    z-index: 5;
}

#hubspot-image {
    width: 85px;
    height: 85px;
}

#page-content {
    display: block;
    position: relative;
    top: -260px;
    height: 700px;
    background-color: #efefef;
}

#course-info {
    color: #348db9;
    text-align: center;
    font-size: 55px;
    font-weight: 900;
    letter-spacing: 5px;
    padding-top: 70px;
}

#card-container {
    display: flex;
    align-items: stretch;
    justify-content: center;
}

.card-content {
    background-color: white;
    height: 350px;
    transition: background-color 0.5s;
}

#red-button:hover, #home:hover #brand-img, #learn-more-button:hover, .card-button:hover, .card-link:hover .card-button {
    background-color: #A9091A;
}

.card-content:hover, .card-link:hover .card-content {
    background-color: #CACACA;
}

.course-wrapper {
    display: flex;
    flex-direction: column;
    width: 380px;
    margin: 6px;
}

.card-link, .card-link:visited {
    color: black;
}

.card-button {
    display: flex;
    padding: 12px;
    font-size: 19px;
    font-weight: 700;
    justify-content: center;
    color: white;
    text-align: center;
    background-color: #e33e42;
    transition: background-color 0.5s;
}

.card-button:after {
    font-family: "FontAwesome";
    padding: 6px;
    content: '\f054';
}

.card-content h2 {
    padding: 10px 35px;
    letter-spacing: 3px;
    font-size: 32px;
    font-weight: 800;
    line-height: 1.1;
}

.card-content p {
    font-size: 19px;
    color: #676767;
    line-height: 1.4;
    padding-left: 35px;
    padding-right: 35px;
}

