body {
    font-family: 'Overpass', 'Open Sans', Helvetica, Arial, sans-serif;
    font-weight: 400;
    font-style: normal;
    letter-spacing: .035em;
    width: 100%;
    margin: 0 auto;
}

#cares-nav {
    background-color: #fdb715;
    width: 100%;
    height: auto;
    position: fixed;
    text-align: center;
    top: 0px;
    left: 0px;
    z-index: 5;
    min-height: 33px;
    padding: 5px;
    font-size: 14px;
    color: #040502;
    border-bottom: 0px solid transparent;
    box-shadow: 0 0px 10px 0px rgb(0 0 0 / 35%)
}

#cares-button{
    color: white;
    background-color: #434345;
    border-color: rgba(0,0,0,0.1) rgba(0,0,0,0.1) rgba(0,0,0,0.25);
    border-radius: 3px;
    font-size: 14px;
    padding: 6px 5px;
    margin: 5px;
    font-style: normal;
    font-weight: normal;
}

#cares-button:hover {
    background-color: black;
    cursor: pointer;
}

#close-button img {
    position: fixed;
    top: 5px;
    right: 5px;
    width: 16px;
}

a {
    text-decoration: none;
    color: white;
}

a:visited {
    color: white;
}

#nav {
    background-color: #2d2d2d;
    z-index: 4;
    height: 70px;
    width: 100%;
    position: fixed;
    font-size: 21px;
    left: 0px;
    top: 52px;
    color: white;
}

#brand {
    display: inline-block;
    position: relative;
    top: -28px;
    left: 15px;
    font-size: 20px;
    font-weight: 200;
    font-family: 'Crimson Text',"Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", "DejaVu Sans", Verdana, "sans-serif";
}

#brand-img {
    background-color: #ec1414;
    width: 33px;
    padding: 12px 20px 12px 18px;
}

#nav-items {
    position: relative;
    top: -115px;
}

.nav-link {
    text-transform: uppercase;
    font-size: 14px;
    list-style-type: none;
    float: right;
    margin: 0 20px;
    padding-top: 22px;
}

#red-button {
    background-color: #e33e42;
    height: 48px;
    width: 100px;
    position: relative;
    left: 20px;
    padding-right: 5px;
    padding-left: 20px;
    border-style: solid;
    border-top: none;
    border-bottom: none;
    border-right: 50px white;
}

#blue-button {
    background-color: #348db9;
    height: 48px;
    position: relative;
    left: 60px;
    padding-right: 25px;
    padding-left: 20px;
    border-style: solid;
    border-top:none;
    border-bottom: none;
    border-right: 50px white;
}